<div
        class="topbar-container"
        ng-include="'views/includes/topbar.html'"
        ng-init="titleSection='Global preferences'; closeToHome = true; noColor = true">
</div>

<!-- 设置视图 -->
<div class="content preferences" ng-controller="preferencesGlobalController as prefGlobal" ng-init="prefGlobal.init()">
    <h4></h4>
    <ul class="no-bullet m0 ">
        <!-- 设备名 -->
        <li ng-click="$root.go('preferencesGlobal.preferencesDeviceName')">
            <div class="right text-gray">
                {{prefGlobal.deviceName}}
                <i class="icon-arrow-right3 size-24"></i>
            </div>
            <div translate>Device name</div>
        </li>
        <!-- Hub -->
        <li ng-click="$root.go('preferencesGlobal.preferencesHub')">
            <div class="right text-gray">
                {{prefGlobal.hub}}
                <i class="icon-arrow-right3 size-24"></i>
            </div>
            <div translate>Hub</div>
        </li>
        <!-- TOR匿名　-->
        <li ng-show="!index.isCordova" ng-click="$root.go('preferencesGlobal.preferencesTor')">
            <div class="right text-gray">
                <span translate>{{prefGlobal.torEnabled?'On':'Off'}}</span>
                <i class="icon-arrow-right3 size-24"></i>
            </div>
            <div translate>TOR</div>
        </li>
        <!-- 语言设定 -->
        <li ng-click="$root.go('preferencesGlobal.preferencesLanguage')">
            <div class="right text-gray">
                {{prefGlobal.currentLanguageName|translate}}
                <i class="icon-arrow-right3 size-24"></i>
            </div>
            <div translate>Language</div>
        </li>
        <!-- INVE单位 -->
        <li ng-click="$root.go('preferencesGlobal.preferencesUnit')">
            <div class="right text-gray">
                {{prefGlobal.unitName}}
                <i class="icon-arrow-right3 size-24"></i>
            </div>
            <div translate>Unit for inve</div>
        </li>
    </ul>

    <div ng-show="index.usePushNotifications">
        <h4></h4>
        <ul class="no-bullet m0">
            <li>
                <switch id="push-notifications" name="pushNotifications" ng-model="pushNotifications"
                        class="green right"></switch>
                <div translate>Enable push notifications</div>
            </li>
        </ul>
    </div>
    <!-- 见证人，刘星删除 -->
    <!--<h4></h4>-->
    <!--<ul class="no-bullet m0">-->
        <!--<li ng-click="$root.go('preferencesGlobal.preferencesWitnesses')">-->
            <!--<i class="icon-arrow-right3 size-24 right text-gray"></i>  -->
            <!--<div translate>Witnesses</div>-->
        <!--</li>-->
    <!--</ul>-->
    <!-- 设备地址 -->
    <h4 translate>Device address</h4>
    <ul class="no-bullet m0 enable_text_select">
        <li>
            <div>{{prefGlobal.myDeviceAddress}}</div>
        </li>
    </ul>
    <!-- 支出限制（密码保护），刘星删除 -->
    <!--<h4 translate>Spending Restrictions</h4>-->
    <!--<ul class="no-bullet m0">-->
        <!--<li>-->
            <!--<switch id="network-name" name="encrypt" ng-model="encrypt" class="green right"></switch>-->
            <!--<div translate>Request Password</div>-->
        <!--</li>-->
    <!--</ul>-->
    <!-- 备份钱包口令 -->
    <h4></h4>
    <ul class="no-bullet m0">
        <li ng-click="$root.go('preferencesGlobal.backup')" ng-hide="index.isPrivKeyExternal">
            <div class="right text-gray">
        <span class="text-warning" ng-show="index.needsBackup">
          <i class="fi-alert"></i><span translate>Still not done</span>
        </span>
                <i class="icon-arrow-right3 size-24 text-gray"></i>
            </div>
            <div translate>Backup wallet seed</div>
        </li>
    </ul>
    <!-- 使用口令恢复钱包 -->
    <ul class="no-bullet m0">
        <li ng-click="$root.go('preferencesGlobal.recoveryFromSeed')" ng-hide="index.isPrivKeyExternal">
            <div class="right text-gray">
                <i class="icon-arrow-right3 size-24 text-gray"></i>
            </div>
            <div translate>Recovery from seed</div>
        </li>
    </ul>
    <!-- 完整备份钱包文件 -->
    <ul class="no-bullet m0">
        <li ng-click="$root.go('preferencesGlobal.export')" ng-hide="index.isPrivKeyExternal">
            <div class="right text-gray">
                <i class="icon-arrow-right3 size-24 text-gray"></i>
            </div>
            <div translate>Full backup</div>
        </li>
    </ul>
    <!-- 使用完整备份文件还原钱包 -->
    <ul class="no-bullet m0">
        <li ng-click="$root.go('preferencesGlobal.import')" ng-hide="index.isPrivKeyExternal">
            <div class="right text-gray">
                <i class="icon-arrow-right3 size-24 text-gray"></i>
            </div>
            <div translate>Restore from full backup</div>
        </li>
    </ul>
    <!-- 关于InterValue -->
    <h4></h4>
    <ul class="no-bullet m0">
        <li ng-click="$root.go('preferencesGlobal.preferencesAbout')">
            <i class="icon-arrow-right3 size-24 right text-gray"></i>
            <div translate>About Intervalue</div>
        </li>
    </ul>
    <h4></h4>

</div>
<div class="extra-margin-bottom"></div>
