<!-- 侧边栏视图 -->
<nav class="sidebar left-off-canvas-menu" ng-controller="sidebarController as sidebar">
	<ul >
		<!-- 扫一扫 -->
	  	<!--<li ng-show="showCamera">-->
	  	<li >
			<qr-scanner ng-show="index.isComplete" on-scan="topbar.onQrCodeScanned(data)"
				before-scan="topbar.onBeforeScan()"></qr-scanner>
		</li>

		<!-- 收款地址 -->
		<li>
			<a ng-click="$root.go('receive')" class="oh">
				<i class="icon-arrow-right3 size-18 right m10t"></i>
				<i class="fi-plus size-24 icon"></i>
				<div class="tu text-bold">
					<span class="size-12" translate>receive address</span>
				</div>
				<!--<div translate>My INVE address</div>-->
			</a>
		</li>

		<!--添加钱包-->
		<li>
			<a ng-click="$root.go('correspondentDevices.addCorrespondentDevice')" class="oh">
				<i class="icon-arrow-right3 size-18 right m10t"></i>
				<i class="fi-plus size-24 icon"></i>
				<div class="tu text-bold">
					<span class="size-12" translate>Add wallet</span>
				</div>
				<!--<div translate>Create a new wallet</div>-->
			</a>
		</li>
	</ul>
</nav>
